<%= will_paginate %>
<% @words.each do |word| %>
<% cycle :odd, :even %>
<%= raw '<div class="row">' if current_cycle == 'odd' %>
  <div class="col-xs-2">
  	<%= word.content %>
  </div>
  <div class="col-xs-3 <%= 'divider-vertical' if current_cycle == 'odd' %>">	  	
  	<%= word.word_answers.corrected.try(:content) %>	  		  	
  	<%= link_to t(:update), edit_admin_word_path(word) %> 
    <%= link_to t(:destroy), admin_word_path(word), method: :delete %>
  </div>
<%= raw '</div>' if current_cycle == 'even' %>
<%= raw '</div>' if word == @words.last && current_cycle == 'odd' %>
<% end %>
<%= will_paginate %>