<h2 class="center"><%= t :word_create_title %></h2><br/>
<div class="row">
    <div class="col-xs-6 col-xs-offset-3 center">
      <p>
        <%= form_for [:admin, @word] do |f| %>
          <%= render 'shared/error', object: f.object %>
          <p> 
            <%= f.label :content %>
            <%= f.text_field :content %>
          </p><br/>
    	  
          <p>
            <%= f.label :category %>  
            <%= f.collection_select :category_id, @categories, :id, :name, {prompt: t(:select_category)} %>
          </p> <br/>
    	  
          <%= f.fields_for :word_answers do |builder| %>
            <%= render "word_answer_fields", f: builder %>
          <% end %>
    	  
          <div class="center"><%= f.submit t(:create), class: "btn btn-primary btn-lg center" %></div></p>
        <% end %> 
      </p>
    </div>
</div>
